.idea
.venv
__pycache__/
*.py[cod]
*$py.class
.ruff_cache/
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
coverage.xml
coverage.json
#charts/
*.nbc
*.nbi
data/cache/*
!data/cache/.gitkeep
